<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".HaisaApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Haisa Dev"
        android:theme="@style/Theme.HaisaDev"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Haisa Dev">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TerminalActivity"
            android:exported="false"
            android:label="Terminal"
            android:theme="@style/Theme.HaisaDev" />

    </application>

</manifest>