<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".HaisaApp"
        android:allowBackup="true"
        android:label="Haisa Des"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".TerminalActivity"
            android:exported="false"
            android:label="Terminal" />

    </application>

</manifest>
